/ReadKey/Library
/ReadKey/.vs/ReadKey/v15/*.suo
/Grammar/.vs/Grammar/v15/*.suo
/Grammar/Grammar/obj/Debug
/Grammar/Grammar/bin/Debug
/Birth/.vs/Birth/v15/*.suo
/Birth/Birth/obj/Debug
/Birth/Birth/bin/Debug
/ReadKey/Temp/UnityVS_obj/Debug
.DS_Store
Birth_Unity/Library
Birth_Unity/obj
Birth_Unity/.vscode/settings.json
Birth_Unity/Birth_Unity.userprefs
/Birth_Unity/.vs/Birth_Unity/v15
/Birth/.vs/Birth/v15/sqlite3/storage.ide
